.banner{
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.row::after{
    content:"";
   display:block;
   clear:both;

}
.content{
    float:left;
    width:66.66%;
    padding:15px;

}

.side__bar{
    float:left;
    width:33.33%;
    padding:15px;
} 